body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(216, 12%, 8%);
}

.card {
  box-sizing: border-box;
  margin: 30px;
  max-width: 410px;
  background-color: #1c232d;
  padding: 1.8rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hidecard {
  /* display: none !important; */
}

.thankyou-card {
  text-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.selected-container {
  height: 35px;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
  background-color: #262f38;
  color: hsl(25, 97%, 53%);
  margin-top: 40px;
  margin-bottom: 20px;
}

.star-icon {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #262f38;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.rating-btns-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}

.rating-btn {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background-color: #262f38;
  color: hsl(217, 12%, 63%);

  font-family: 'Overpass', sans-serif;
  font-size: 1rem;
}

.rating-btn:hover {
  background-color: hsl(217, 12%, 63%);
  color: white;
}

.activebtn {
  background-color: hsl(25, 97%, 53%) !important;
  color: white !important;
}

.submit-btn {
  width: 100%;
  height: 45px;
  border-radius: 45px;
  border: none;
  background-color: hsl(25, 97%, 53%);
  color: white;

  font-family: 'Overpass', sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.submit-btn:hover {
  background-color: white;
  color: hsl(25, 97%, 53%);
}

h2 {
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  margin-top: 10px;
  margin-bottom: 15px;
}

p {
  color: hsl(217, 12%, 63%);
  margin: 0;
  line-height: 1.6;
}
